html, body {
	padding: 0px;
	margin:0px;
}
html, body {

	background: #373737;
}
header {
	height: 60px;
	background: #333333;
}
#overlay, .overlay {
	   pointer-events: none;
	   left: 0px;
	   top: 0px;
	   width: 100%;
	   height: 100%;
	   position: absolute;
	   z-index: 12;
	   opacity: 0.1;
	   background: url(spotify:image:7baf1b768a03b5b70bea94b7264decb69ec71971);
	   background-size: 100%;
	   -webkit-filter: blur(1);
}